*.pyc

# should be symlinks
pymol/fetch_eppic.py
pymol/findseq.py
pymol/flatten_obj.py

# automatically downloaded
vim/.netrwhist
vim/plugged
solarized
vim/autoload/plug.vim
pymol/license.lic
pymol/recent.db