[submodule "solarized"]
	path = solarized
	url = git://github.com/altercation/solarized.git
[submodule "Pymol-script-repo"]
	path = Pymol-script-repo
	url = git@github.com:sbliven/Pymol-script-repo.git
